<ion-header>
  <ion-navbar>
    <ion-title>
      Waiting Room
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>Joined ({{ (joinedUsers | async)?.length }}) </ion-list-header>
    <ion-item *ngFor="let joinedUser of joinedUsers | async">
      <ion-avatar item-left>
        <img [src]="joinedUser.photoURL">
      </ion-avatar>
      {{ joinedUser.name }}
      <ion-note item-right>host</ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Watching ({{ (watchingUsers | async)?.length }})</ion-list-header>
    <ion-item *ngFor="let watchingUser of watchingUsers | async">
      <ion-avatar item-left>
        <img [src]="watchingUser.photoURL">
      </ion-avatar>
      {{ watchingUser.name }}
      <ion-note item-right>host</ion-note>
    </ion-item>
  </ion-list>
  <button ion-button block>Start Game</button>
</ion-content>

