#drawingCanvas {
  background-color: white;
  border-top-width:2px;
  border-top-color: black;
  border-top-style: solid;
  border-bottom-width:2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

#canvasContainer {
  width: 100%;
}