<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EpycApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Epyc">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Epyc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Custom scheme invite links: com.negfeed.epycnative://game/{gameId} -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.negfeed.epycnative" android:host="game" />
            </intent-filter>

            <!-- App Links: https://epycnative.negfeed.com/game/{gameId}
                 (autoVerify needs assetlinks.json hosted at the domain's /.well-known/) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="epycnative.negfeed.com" android:pathPrefix="/game" />
            </intent-filter>
        </activity>
    </application>
</manifest>
