<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271701898940-qq7mgh4sglpjasn3b2fc76jjd341u1gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271701898940-qq7mgh4sglpjasn3b2fc76jjd341u1gp</string>
	<key>API_KEY</key>
	<string>AIzaSyCq5C45bYAAltH61ezUct9g6NDf95lDno8</string>
	<key>GCM_SENDER_ID</key>
	<string>271701898940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.negfeed.epyc</string>
	<key>PROJECT_ID</key>
	<string>epyc-ionic</string>
	<key>STORAGE_BUCKET</key>
	<string>epyc-ionic.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271701898940:ios:3be6aedf8bf4dd3b6d02b9</string>
</dict>
</plist>
